html, body{
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

.button{
	width: 15%;
	position: absolute;
}

.MenuButton{
	width: 30%;
	position: absolute;
}

.menu{
	width: 100%;
	height: 100%;
	position: fixed;
	display: none;
	background-size: 100% 100%;
	background-color: #1e1e1e;
}

.betimg{
	position: absolute;
	width: 10%;
	left: 50%;
	transform: translateX(-50%);
}

.buttonsWrapper{
	width: 29%;
	display: inline-block;
}

.betWrapper{
	background-image: url('../assets/Bets/wrapperBackground.png');
	background-size: 100% 100%;
	text-align: center;
	width: 70%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	color: #fff;
}

.wrapperContent{
	padding: 0;
	position: absolute;
	width: 100%;
	height: 55%;
	top: 40%;
	background-color: #333333 ;
}

.betWinButton{
	margin-top: 10%;
	width: 100%;
	padding-top: 1px;
	text-align: center;
	background-color: #161616;
	color: #fff;
	margin-bottom: 5px;
}

.betTotalButton{
	width: 100%;
	padding-top: 0.5px;
	text-align: center;
	background-color: #161616;
	color: #fff;
	margin-top: -10px;
}

.betFirstSetButton{
	width: 100%;
	padding-top: 0.5px;
	text-align: center;
	background-color: #161616;
	color: #fff;
	margin-top: -10px;
}

.betSecondSetButton{
	width: 100%;
	padding-top: 0.5px;
	text-align: center;
	background-color: #161616;
	color: #fff;
	margin-top: -10px;
}

.teamsWrapper{
	position: absolute;
	width: 70%;
	left: 15%;
	top: 20%;
	background-color: #161616 ;
	color: #fff;
}

.team1{
	margin-left: 3%;
	display: inline-block;
}

.vs{
	margin-left: 20%;
	display: inline-block;
}

.team2{
	margin-right: 3%;
	float: right;
	display: inline-block;
}
#MainMenu{
	display: block;
}
		#OtherWrapper{
			position: absolute;
			display: inline-block;
			width: 70%;
			height: 100%;
			background-image: url(../assets/Menu/someother.png);
			background-size: 100% 100%;
		}
		#StartButtonWrapper{
			background-color: #333;
			width: 100%;
			margin-top: 3%;
			display: inline-block;
			height: 15%;
		}

		#ExitButtonWrapper{
			background-color: #333;
			width: 100%;
			margin-top: 15%;
			display: inline-block;
			height: 15%;
		}

		#ShopButtonWrapper{
			background-color: #333;
			width: 100%;
			margin-top: 3%;
			display: inline-block;
			height: 15%;
		}

		#AboutButtonWrapper{
			background-color: #333;
			width: 100%;
			margin-top: 3%;
			display: inline-block;
			height: 15%;
		}
		#buttonsWrapperMainMenu{
			display: inline-block;
			background-color: #1e1e1e;
			margin-top: 10%;
			width: 30%;
			height: 100%;
		}
		#StartButtonMainMenu{
			background-color: #161616;
			width: 50%;
			margin-top: 5%;
			padding: 0.5em;
			text-align: center;
			margin-left: 20%;
			color: #fff;
		}
		#ShopButtonMainMenu{
			background-color: #161616;
			width: 50%;
			margin-top: 2.5%;
			padding: 0.5em;
			vertical-align: center;
			text-align: center;
			margin-left: 20%;
			color: #fff;
		}
		#AboutButtonMainMenu{
			background-color: #161616;
			width: 50%;
			margin-top: 5%;
			padding: 0.5em;
			vertical-align: center;
			text-align: center;
			margin-left: 20%;
			color: #fff;
		}
		#ExitButtonMainMenu{
			background-color: #161616;
			width: 50%;
			margin-top: 5%;
			padding: 0.5em;
			vertical-align: center;
			text-align: center;
			margin-left: 20%;
			color: #fff;
		}
		#TextWrapper{
			position: absolute;
			top: 0%;
			color: #fff;
			left: 15%;
			width: 15%;
		}
		#DolapsTextMainMenu{
			text-align: center;
		}
		#BonusesTextMainMenu{
			text-align: center;
		}

#GameMenu{
}
		#gameWrapper{
			position: relative;
			top: 50%;
			margin: 0 auto;
			transform: translateY(-50%);
			width: 30%;
		}
		#Pointer{
			left: 30%;
			position: absolute;
			width: 3%;
			top: 50%;
			transform: translateY(-50%);
		}
		#PlayButtonGameMenu{
			top: 50%;
			left: 70%;
			transform: translateY(-50%);
		}
		#WheelStand{
			position: absolute;
			left: 50%;
			top: 85%;
			height: 30%;
			transform: translateY(-50%) translateX(-50%);
			width:15%;
		}

#ShopMenu{
}
	#InfoWrapper{
		color: #fff;
		position: absolute;
		left: 80%;
		width: 20%;
	}
	#InfoText{
		display: none;
		top: 10%;
		color: #72aa81;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
	#MainStringShop{
		color: #fff;
		position: absolute;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
	#SenderWrapper{
		background-color: #333;
		color: #fff;
		width: 100%;
		height: 60%;
		margin-top: 15%;
		padding-top: 5%;
	}
	#FirstTextShopWrapper{
		width: 90%;
		margin-left: 5%;
		background-color: #161616;
		height: 35%;
	}
	#SecondTextShopWrapper{
		width: 90%;
		margin-left: 5%;
		background-color: #161616;
		margin-top: 5%;
		height: 35%;
	}
	.ShopText{
		display: inline-block; 
		float: left;
	}
	.ShopImg{
		display: inline-block;
		float: right;
		height: 100%;
	}

#FootballMenu{
}

#BasketballMenu{
}

#TennisMenu{
}

#BonusMenu{
	background-image: url(../assets/BonusMenu.png);
}

#BetMenu{
}
	#betCostWraper{
		background-image: url(../assets/BetMenu/stavka.png);
		background-size: 100% 100%;
		position: absolute;
		width: 50%;
		height: 20%;
		top: 40%;
		left: 25%;

		color: #fff;
		text-align: center;
	}
	#buttonPlus{
		left: 87%;
		top: 10%;
		width: 5%;
		/*height: 15%;*/
		position: absolute;
	}
	#buttonMinus{
		left: 87%;
		top: 60%;
		width: 5%;
		/*height: 15%;*/
		position: absolute;
	}
	#BetText{
		background-color: #161616;
		position: absolute;
		margin-left: 50%;
		color: #fff;
		top: 10%;
		text-align: center;
		transform: translateX(-50%);
	}
	#BetCost{
		font-size: 3em;
		float: left;
		margin-left: 10%;
		transform: translateY(-15%);
	}
	#submitBet{
		left:50%;
		top:70%;
		transform: translateX(-50%) translateY(-50%);
	}

#BetHistory{
}
	#storyWrapper{
		width: 70%;
		color: #fff;
		margin-left: 15%;
		font-weight: normal;
	}
	#BetHistoryShadow{
		width: 100%;
		height: 20%;
	}

#LoseMenu{
	background-image: url(../assets/DolapsBonusesEndMenu.png);
	background-size: 100% 100%;
}

#WinMenu{
	background-image: url(../assets/WinMenu.png);
	background-size: 100% 100%;
}

#LoseDolapsMenu{
	background-image: url(../assets/DolapsEndMenu.png);
	background-size: 100% 100%;
}